.navigation-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    padding: 16px 8px;
}

.navigation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    /* Add a transition for a smooth background-color change */
    transition: background-color 0.3s ease;
    /* Add the border-radius property to create rounded corners */
    border-radius: 10px; /* Adjust the value as desired */
    padding: 8px 0;
}
.navigation-item.selected {
    background-color: #e0e0e0;
}

.navigation-item:not(.selected):hover {
    background-color: #f0f0f0;
}

.navigation-item-img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
}

.navigation-item-text {
    color: #7f8792;
}

.navigation-item.selected > .navigation-item-text {
    color: #222529;
}