.card-buttons {
    display: none;
}

.ant-card-hoverable:hover .card-buttons {
    display: flex;
    justify-content: space-around;
}

.image-grid-container {
    background: #f6f7f9;
    padding: 56px;
    overflow-y: scroll;
    max-height: calc(100vh - 112px);
    flex-grow: 1;
}

.tooltip-button {
    margin: 4px;
}

.progress-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex !important;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.progress-container img {
    position: absolute;
    width: 200%;
    height: 200%;
    z-index: 0;
}

.progress-container .progress-image-0 {
    left: 0;
    top: 0;
}

.progress-container .progress-image-1 {
    left: -100%;
    top: 0;
}

.progress-container .progress-image-2 {
    left: 0;
    top: -100%;
}

.progress-container .progress-image-3 {
    left: -100%;
    top: -100%;
}